// Portfolio Section Styles
.portfolio-section {
	.load-more-wrapper {
		text-align: center;
		margin-top: 50px;
	}
	.btn-common {
		background-color: $primary-color;
		color: #ffffff;
		display: inline-block;
		font-family: $secondary-font;
		font-size: 14px;
        padding: 12px 35px;
        letter-spacing: 0.1rem;
        transition: $transition;
        font-weight: 300;
		&:hover {
			opacity: 0.9;
		}
	}
}
.portfolio-nav {
	margin-top: 30px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		float: left;
		a {
			font-size: 15px;
			color: #808080;
			padding: 0 15px;
			padding-bottom: 10px;
			position: relative;
			border-bottom: 2px solid #e6e6e6;
			&:hover {
				color: $primary-color;
				border-bottom: 2px solid $primary-color;
			}
			&::before {
			  position: absolute;
			  width: 1px;
			  height: 15px;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  margin: auto 0;
			  content: "";
			  background: #e6e6e6;
			  transform: skew(-15deg);
			}
		}
		&:first-child a {
			padding-left: 0;
		}
		&:last-child a {
			padding-right: 0;
			&::before {
				display: none;
			}
		}
	}
	ul li.active {
		a {
			color: $primary-color;
			border-bottom: 2px solid $primary-color;
			font-family: $secondary-font;
		}
	}
}

// Portfolio Wrapper
.portfolio-items-wrapper {
	margin-top: 80px;
	display: flex;
	align-items: center;
}
.single-portfolio-items {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
	}
	.overlay {
		position: absolute;
		width: 90%;
		height: 86%;
		top: 0;
		left: 0;
		bottom: -1500px;
		right: 0;
		margin: auto;
		background-color: rgba(255, 255, 255, 0.8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		-webkit-transition-property: bottom;
		  transition-property: bottom;
		  -webkit-transition-duration: 0.3s, 0.2s;
		          transition-duration: 0.3s, 0.2s;
		img {
			width: inherit;
		}
		h2 {
			color: #505050;
			font-size: 18px;
			margin-top: 10px;
			font-weight: 600;
			text-transform: uppercase;
		}
		p {
			margin: 0;
			font-size: 14px;
			color: #505050;
		}
	}
	&:hover {
		.overlay {
			bottom: 0;
		}
	}
}